[user]
	name = Jared Habeck
	email = jhabeck@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
	whitespace = warn
[credential]
	helper = cache
[branch]
	autosetuprebase = always
[color]
	ui = auto
[help]
	autocorrect = 10
[github]
	user = jaredhabeck
[merge]
	summary = true
[push]
	default = current
[rebase]
	autosquash = true
